# Ignore artifacts:
build
coverage

# Ignore all HTML files:
**/*.html

# next.js
/.next/
# The `out` directory should not be ignored by version control
/out/

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
