.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
}
/* Style for top menu */
.topMenu {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topMenu nav ul {
    list-style-type: none;
    display: flex;
}

.topMenu nav ul li {
    margin-right: 20px;
}

.topMenu nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Style for logo and search input */
.logoAndSearch input[type="text"] {
    width: 200px; /* Adjust as needed */
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Style for main content */
.mainContent {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

/* Style for left side navigation */
.leftNav {
    background-color: #f4f4f4;
    padding: 20px;
}

.leftNav ul {
    list-style-type: none;
}

.leftNav ul li {
    margin-bottom: 10px;
}

.leftNav ul li a {
    color: #333;
    text-decoration: none;
}

/* Style for page content */
.pageContent {
    padding: 20px;
}

/* Style for right side navigation */
.rightNav {
    background-color: #f4f4f4;
    padding: 20px;
}

.rightNav ul {
    list-style-type: none;
}

.rightNav ul li {
    margin-bottom: 10px;
}

.rightNav ul li a {
    color: #333;
    text-decoration: none;
}

/* Footer style */
.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

/* Media query for tablets */
@media only screen and (min-width: 768px) {
    .mainContent {
        flex-wrap: nowrap;
        flex-direction: row;
    }

    .leftNav {
        flex: 0 0 25%;
    }

    .pageContent {
        flex: 0 0 50%;
    }

    .rightNav {
        flex: 0 0 25%;
    }
}

/* Media query for desktops */
@media only screen and (min-width: 992px) {
    .mainContent {
        flex-wrap: nowrap;
    }

    .leftNav {
        flex: 0 0 20%;
    }

    .pageContent {
        flex: 0 0 60%;
    }

    .rightNav {
        flex: 0 0 20%;
    }
}
